.banner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 90vh;
  background-image: url("../assets/Banner_pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  align-items: center;
}

.newCollectionBanner {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  background-color: #fff3e3;
  margin-right: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-weight: 600;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
}

.newCollectionBanner h2 {
  font-size: 55px;
  font-weight: bold;
  color: #b88e2f;
  margin: 3px;
}

.newCollectionBanner p {
  font-size: 18px;
}

.categories {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.categories p {
  margin-bottom: 45px;
}

.categoriesCarousel {
  display: flex;
  justify-content: center;
  gap: 25px;
  height: 80vh;
}

.categoriesCarousel h3 {
  color: black;
}

.living,
.dining,
.bedroom {
  width: 25%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 250ms;
  scale: 1;
}

.living:hover,
.dining:hover,
.bedroom:hover {
  transition: all 250ms;
  scale: 1.04;
}

.diningImg {
  background-image: url("../assets/Mask\ Group\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 15px;
}

.livingImg {
  background-image: url("../assets/Image-living\ room.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 15px;
}

.bedroomImg {
  background-image: url("../assets/Mask\ Group.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 15px;
}

.products {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 30px;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.bottomHomeBanner {
  margin-top: 5vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  height: 85vh;
  background-color: #fcf8f3;
  padding-left: 100px;
  justify-content: space-between;
}

.bottomBannerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 32%;
}

.bottomBannerText h2 {
  font-size: 50px;
}

.bottomBannerText p {
  font-size: 20px;
}

.bottomBannerImage {
  background-image: url("../assets/spacejoy-IH7wPsjwomc-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  width: 28%;
  padding: 25px;
}

.bottomBannerCarousel {
  width: 34%;
}

.bottomBannerImageText {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
}

.bottomBannerImageText h2 {
  margin-top: 0;
}

.bottomBannerImageBtn {
  font-size: 1.4rem;
  color: white;
  background-color: #b88e2f;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showMoreBtn {
  margin-bottom: 25px;
}

.shareGallery {
  text-align: center;
  margin-top: 5vh;
}

.shareGallery h2 {
  font-size: 35px;
}

h3 {
  color: #616161;
  font-size: 25px;
}
.gallery {
  width: 100%;
  display: flex;
  height: 80vh;
  gap: 5px;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 8vh;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.col1,
.col2,
.col3,
.col4,
.col5 {
  height: 100%;
  width: 20%;
}

.galleryImg1,
.galleryImg7,
.galleryImg4,
.galleryImg10 {
  height: 60%;
  object-fit: cover;
  width: 100%;
}

.galleryImg2,
.galleryImg8,
.galleryImg3,
.galleryImg9 {
  object-fit: cover;
  width: 100%;
  height: 40%;
}

.galleryImg5,
.galleryImg6 {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.gallery img {
  opacity: 0;
  transform: scale(0.7), translateX(-100%);
  transition: opacity 1.5s, transform 1.5s;
}

@keyframes fadeInGrow {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animateImage {
  animation: fadeInGrow 2s forwards;
}

@media (max-width: 768px) {
  .banner {
    height: 35vh;
  }
  .banner h2 {
    font-size: 36px;
  }
  .banner p {
    display: none;
  }

  .btnDiv {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .newCollectionBanner {
    gap: 10px;
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-left: 6vw;
    padding-right: 6vw;
    width: 80%;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .categoriesCarousel {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .dining,
  .living,
  .bedroom {
    width: 100%;
  }

  .livingImg,
  .diningImg,
  .bedroomImg {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 25vh;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.5);
  }

  .livingTitle,
  .diningTitle,
  .bedroomTitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .livingTitle h3,
  .diningTitle h3,
  .bedroomTitle h3 {
    color: white;
    font-size: 34px;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.8);
  }

  .bottomHomeBanner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .bottomBannerText {
    width: 95%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

  .bottomBannerImage {
    width: 97.5%;
    height: 50vh;
    margin-top: 5vh;
    padding: 0;
    padding-bottom: 2.5vh;
    padding-left: 2.5%;
  }

  .bottomBannerCarousel {
    margin-top: 5vh;
    width: 100%;
    height: 60vh;
  }

  .gallery {
    flex-direction: column;
  }

  .col2,
  .col3,
  .col4,
  .col5 {
    display: none;
  }

  .col1 {
    width: 100%;
  }
}
